# Python
*.pyc
__pycache__/
*~

# Environment
.env
venv/
myvenv/

# Database
db.sqlite3

# Static files (optional)
static/

# OS
.DS_Store
Thumbs.db
._*
.fseventsd
.Spotlight-V100

# IDE
.vscode/
.history/
*.code-workspace